<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArcGisServiceDCChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArcGisServiceDCChecker.Properties.Settings>
            <setting name="Servers" serializeAs="String">
                <value>myserver1,myserver2,myserver3</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>results.html</value>
            </setting>
            <setting name="JQueryUrl" serializeAs="String">
                <value>http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js</value>
            </setting>
            <setting name="JQueryUIUrl" serializeAs="String">
                <value>http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js</value>
            </setting>
            <setting name="JQueryUICssUrl" serializeAs="String">
                <value>http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css</value>
            </setting>
        </ArcGisServiceDCChecker.Properties.Settings>
    </applicationSettings>
</configuration>