<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArcGisServiceDCChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArcGisServiceDCChecker.Properties.Settings>
            <setting name="Servers" serializeAs="String">
                <value>myserver1,myserver2,myserver3</value>
            </setting>
            <setting name="OutputCsv" serializeAs="String">
                <value>MapServers.csv</value>
            </setting>
            <setting name="OutputJson" serializeAs="String">
                <value>MapServers.json</value>
            </setting>
        </ArcGisServiceDCChecker.Properties.Settings>
    </applicationSettings>
</configuration>